@use "functions" as *;

// colors
$white: #ffffff;
$black: #000000;
$grey-950: #1d2026;
$grey-500: #69707d;
$grey-300: #c3cad9;
$grey-100: #e4e9f2;
$grey-50: #f6f8fd;
$orange-500: #ff7e1b;
$orange-300: #ffab6a;

// Typography
$font-family: "Kumbh Sans";

// Spacing
$spacing-0: 0;
$spacing-100: rem(8px);
$spacing-200: rem(16px);
$spacing-300: rem(24px);
$spacing-400: rem(32px);
$spacing-500: rem(40px);
$spacing-600: rem(48px);
$spacing-700: rem(56px);
$spacing-900: rem(72px);
$spacing-1000: rem(80px);
$spacing-1200: rem(96px);
$spacing-1300: rem(104px);
$spacing-1600: rem(128px);

.text-preset-1-bold {
  font-size: rem(44px);
  font-weight: 700;
  line-height: rem(48px); /* 109.091% */
}

// Define mixins for the text presets
@mixin text-preset-1-bold {
  font-size: rem(44px);
  font-weight: 700;
  line-height: rem(48px); /* 109.091% */
}

.text-preset-2-bold {
  font-size: rem(28px);
  font-weight: 700;
  line-height: rem(32px); /* 114.286% */
}

.text-preset-3-bold {
  font-size: rem(16px);
  font-weight: 700;
  line-height: rem(26px); /* 162.5% */
}

.text-preset-3-regular {
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(26px); /* 162.5% */
}

@mixin text-preset-3-regular {
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(26px); /* 162.5% */
}

.text-preset-4-regular {
  font-size: rem(15px);
  font-weight: 400;
  line-height: rem(26px); /* 173.333% */
}

.text-preset-5-bold {
  font-size: rem(13px);
  font-weight: 700;
  line-height: rem(16px); /* 123.077% */
  letter-spacing: rem(2px);
}

.text-preset-6-bold {
  font-size: rem(12px);
  font-weight: 700;
  line-height: rem(15px); /* 125% */
  letter-spacing: rem(2px);
}

.text-mobile-menu {
  font-size: rem(18px);
  font-weight: 700;
  line-height: 26px;
}

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin thumbnail-hover {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

@mixin thumbnail-active {
  border: 2px solid $orange-500;
  border-radius: rem(10px);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.75) 0%,
    rgba(255, 255, 255, 0.75) 100%
  );
  pointer-events: none; /* Ensure the overlay doesn't block interactions */
}

@mixin thumbnail-btn {
  border-radius: rem(10px);
  position: relative; /* Required for positioning the overlay */
  overflow: hidden;
  transition: border-color 0.3s ease;
}
