@use "functions" as *;
@use "variables" as *;

/* General body styling */
body {
  position: relative; /* Ensures the body is positioned relative to its normal flow */
  display: flex; /* Enables flexbox layout */
  justify-content: center; /* Centers content horizontally */
  // align-items: center; /* Centers content vertically */
  min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
  font-family: $font-family;
  font-style: normal;
  line-height: normal;
  background: white;
  font-feature-settings:
    "liga" off,
    "clig" off;
}

/* Media query for screens with a width of up to 375px */
@media screen and (max-width: 375px) {
  body {
    min-height: 100%; /* Ensures the body takes up at least the full height of its parent container */
  }
}

// Mobile First Approach

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

button {
  border: none;
  background: none;

  &:hover {
    cursor: pointer;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Overlay styles */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00001a; /* Dark blue background */
  opacity: 0.5;
  z-index: 1;
  transition: opacity 0.3s ease;
}

#overlay.d-none {
  opacity: 0;
  pointer-events: none; /* Disable interaction when hidden */
}

#overlay.d-flex {
  opacity: 0.5;
  pointer-events: auto; /* Enable interaction when visible */
}

.sneakers {
  position: relative;
  .navigation {
    .desktop_nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(21px) $spacing-300 $spacing-300;
      border-bottom: 1px solid $grey-100;

      .menu-links_wrapper {
        .menu_icon-and-logo {
          align-items: baseline;
          column-gap: $spacing-200;

          .logo {
            width: rem(137.5px);
            height: rem(20px);
          }
          .mobile_menu-btn {
            img {
              width: 16px;
              height: 15px;
            }
          }
        }

        .links {
          display: none;
        }
      }

      .avatar_cart {
        column-gap: $spacing-300;

        .avatar {
          img {
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }
    }
  }
  .mobile_nav {
    background-color: $white;
    flex-direction: column;
    padding: $spacing-300;
    position: absolute;
    row-gap: $spacing-700;
    height: 100%;
    width: rem(250px);
    top: 0;
    left: 0;
    z-index: 2;
    transition: transform 0.3s ease;

    &.d-none {
      transform: translateX(-100%); /* Hide menu off-screen */
    }

    &.d-flex {
      transform: translateX(0); /* Show menu */
    }

    .links {
      flex-direction: column;
      row-gap: $spacing-300;
      li {
        a {
          color: $grey-950;
        }
      }
    }
  }

  .product_content {
    flex-direction: column;

    .product_images {
      .active_img {
        width: 100%;
        height: rem(300px);
      }

      .gallery {
        display: none;
      }
    }

    .product_details {
      margin-bottom: rem(70px);
      margin-top: $spacing-300;
      padding: 0 $spacing-300;

      .data {
        .brand {
          color: $grey-500;
          text-transform: uppercase;
          font-size: rem(12px);
          font-weight: 700;
          letter-spacing: rem(1.846px);
        }

        .name {
          @extend .text-preset-2-bold;
          color: $grey-950;
          margin: $spacing-200 0;
        }

        .desc {
          @extend .text-preset-4-regular;
          color: $grey-500;
        }
      }

      .price {
        justify-content: space-between;
        margin: $spacing-400 0;

        .wrapper {
          column-gap: $spacing-200;
          .sale {
            color: $grey-950;
          }

          .discount {
            border-radius: rem(6px);
            background-color: $grey-950;
            color: $white;
            padding: rem(3px) rem(9px);
          }
        }

        .old {
          color: $grey-500;
          text-decoration: line-through;
        }
      }

      .qty-adt_wrapper {
        flex-direction: column;
        row-gap: $spacing-200;

        .quantity {
          border-radius: 10px;
          background-color: $grey-50;
          align-items: center;
          justify-content: space-between;
          padding: $spacing-200;
          width: 100%;

          .qty {
            color: $grey-950;
          }
        }

        .addToCart {
          background-color: $orange-500;
          border-radius: 10px;
          color: $grey-950;
          padding: $spacing-200 0;

          img {
            margin-right: $spacing-200;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .sneakers {
    padding: rem(28px) $spacing-1000 rem(69px);
    .navigation {
      .desktop_nav {
        padding: 0;
        padding-bottom: $spacing-400;
        .menu-links_wrapper {
          .links {
            display: none;
          }
        }

        .avatar_cart {
          column-gap: $spacing-600;

          .avatar {
            img {
              height: rem(50px);
              width: rem(50px);
            }
          }
        }
      }
    }

    .mobile_nav {
      padding: $spacing-600 $spacing-1000;
      width: rem(301px);
    }

    .product_content {
      flex-direction: column;
      margin-top: $spacing-600;
      .product_images {
        .active_img {
          border-radius: 15px;
        }
      }

      .product_details {
        margin-top: $spacing-600;
        margin-bottom: 0;
        padding: 0;

        .data {
          .brand {
            font-size: rem(13px);
            font-weight: 700;
            letter-spacing: rem(2px);
          }

          .name {
            @include text-preset-1-bold;
          }

          .desc {
            @include text-preset-3-regular;
          }
        }

        .price {
          flex-direction: column;
          row-gap: $spacing-100;
        }

        .qty-adt_wrapper {
          flex-direction: row;
          column-gap: $spacing-100;

          .quantity {
            align-items: center;
            justify-content: space-between;
            flex: 1;
            padding: $spacing-200 $spacing-300;
          }

          .addToCart {
            flex: 1;
            padding: rem(18px) 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .sneakers {
    .navigation {
      .desktop_nav {
        .menu-links_wrapper {
          column-gap: $spacing-700;
          .menu_icon-and-logo {
            .mobile_menu-btn {
              display: none;
            }
          }

          .links {
            display: flex;
            column-gap: $spacing-400;
            li {
              a {
                color: $grey-500;
              }
            }
          }
        }
      }
    }

    .product_content {
      column-gap: $spacing-1200;
      flex-direction: row;
      margin-top: $spacing-1000;

      .product_images {
        .active_img {
          border-radius: 15px;
          height: rem(445px);
        }

        .gallery {
          display: flex;
          column-gap: $spacing-400;
          margin-top: $spacing-400;

          .thumbnail {
            border-radius: rem(10px);
            cursor: pointer;
            width: rem(88px);
            height: rem(88px);

            &.active {
              border: 2px solid $orange-500;
              background: linear-gradient(
                0deg,
                rgba(255, 255, 255, 0.75) 0%,
                rgba(255, 255, 255, 0.75) 100%
              );
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .sneakers {
    margin-bottom: $spacing-1600;
    margin-top: rem(28px);
    padding: 0;
    width: rem(1110px);

    .product_content {
      column-gap: $spacing-1600;
      flex-direction: row;
      padding: 0 rem(44.5px);

      .product_images {
        flex: 1;
      }

      .product_details {
        flex: 1;
        margin-top: $spacing-600;
        margin-bottom: 0;
        padding: 0;

        .data {
          .name {
            @include text-preset-1-bold;
            margin: $spacing-200 0;
          }

          .desc {
            @include text-preset-3-regular;
          }
        }

        .price {
          flex-direction: column;
          row-gap: $spacing-100;
        }

        .qty-adt_wrapper {
          flex-direction: row;
          column-gap: $spacing-200;

          .quantity {
            flex: none;
            padding: $spacing-200 rem(12px);
            width: rem(157px);
          }

          .addToCart {
            flex: 1;
            padding: $spacing-200 0;
          }
        }
      }
    }
  }
}
